name: Pytest

on:
  pull_request:
    types:
      [opened, reopened, synchronize]
    branches:
      - development
      - main

jobs:
  pytest:
    runs-on: ubuntu-latest
    name: Pytest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: pyproject.toml
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint hatch
        hatch run pip install --upgrade pip
    - name: Adding application's configuration file
      run: |
        mkdir ~/.yajaw
        cp ./config/template_yajaw.toml ~/.yajaw/yajaw.toml
    - name: Run Pytest with code coverage
      run: |
        hatch run cov
