name: Static Code Analysis

on:
  pull_request:
    types:
      [opened, reopened, synchronize]
    branches:
      - development
      - main

jobs:
  static-code-analyzers:
    runs-on: ubuntu-latest
    name: Static Code Analyzers
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: pyproject.toml
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch
        hatch run pip install --upgrade pip
    - name: Analysing the code with Ruff
      run: |
        hatch fmt --check
    - name: Analysing the code with Pylint
      run: |
        hatch run linter-check
    - name: Analysing the code with Black
      run: |
        hatch run format-check
    - name: Analysing the code with isort
      run: |
        hatch run isort-check
    - name: Analysing the code with Bandit
      run: |
        hatch run security-check
    - name: Analysing the code with mypy
      run: |
        hatch run type-check
